
body{
    background-image: url('../img/pexels-photo-590493.jpeg');
    background-size: cover;
    background-position: inherit;
}


.header{
    position:absolute; 
    left: 43%;   
    color: white;
    font-family: 'Times New Roman', Times, serif
}

.dropdown-and-button-container{
    position: absolute;
    left: 135px;
    top:9px;
    max-width: max-content;
}
.dropdown-menu{
    background-color: rgb(223, 222, 222);
}

.books-container{
    margin: 10% auto;
    max-width: 700px;
    max-height: 700px;
}

.table{
    opacity: 0.9;
}

.table:hover{
    opacity: 1;
    transition: 0.7s;
}

tr{
    margin-bottom: 0.3em;
}


.btn-small{
    color: aliceblue;
}

.btn-small:hover{
    color: aliceblue;
    font-weight: bold;
}

img{
    height: 112px;
    width: 112px;
}

/* .new-name-input-msg{
    border: red solid;
} */